.logo-sidebar {
    width: 85%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dfdddd;
}

.logo-sidebar span{
    font-size: 2.5rem;
    color: #7021e7;
}

.logo-sidebar span:hover {
    cursor: pointer;
}

button {
    background: none;
}
