.user-box {
    display: flex;
    max-height: 30px;
    align-items: center;
    margin: 20px;
}

.user-box > span {
    margin-right: 15px;
    font-size: 2rem;
    color: white;
}

.user-box > span:hover, .user-box > p:hover {
    cursor: pointer;
}

.user-box > p {
    color: #FFFFFF;
}