.header-site {
    display: flex;
    min-height: 80px;
    align-items: center;
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.nav-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}