.form-search-box {
    max-height: 30px;
    margin-left: 20px;
    border: 1px solid #dfdddd;
    border-radius: 15px;
}

#form-search {
    padding: 5px;
}

#form-search label {
    color: #FFFFFF;
    margin-right: 10px;
}

#input-search {
    font-size: 13px;
    color: #FFFFFF;
    background: none;
}