@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*REMOVE DEFAULT BROWSER SHADOW/BORDER ON INPUT FOCUS*/
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 

body {
  min-width: 320px;
}

body > #root > div {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
}

/* WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: 0.20fr 1fr;
  grid-template-rows: 0.20fr 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
  font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 700px){
  .wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 0.20fr 0.20fr 1fr;
    grid-template-areas:
    "header"
    "sidebar"
    "main";
  }
}


